<div class="animated-page container" imageLazyLoadArea>
  <div class="row">
    <div *ngIf="artists.list && artists.list.length > 0">
      <h4 sticky class="header-seperator">Artists
        <span class="small color-type-secondary">({{artists.list.length}})</span>
      </h4>
      <div class="alert alert-info" *ngIf="artists.overflow">
        More artists are found. Refine search for less results
      </div>
      <div class="media-container">
        <div class="artist-panel media-panel" *ngFor="let artist of artists.list">
          <mdb-artist [artist]="artist"></mdb-artist>
        </div>
      </div>
    </div>
    <div *ngIf="albums.list && albums.list.length > 0">
      <h4 sticky class="header-seperator">Albums
        <span class="small color-type-secondary">({{albums.list.length}})</span>
      </h4>
      <div class="alert alert-info" *ngIf="albums.overflow">
        More albums are found. Refine search for less results
      </div>
      <div class="media-container">
        <div class="album-panel media-panel" *ngFor="let album of albums.list">
          <mdb-album [album]="album"></mdb-album>
        </div>
      </div>
    </div>
    <div *ngIf="tracks.list && tracks.list.length > 0">
      <h4 sticky class="header-seperator">Tracks
        <span class="small color-type-secondary">({{tracks.list.length}})</span>
      </h4>
      <div class="alert alert-info" *ngIf="tracks.overflow">
        More tracks are found. Refine search for less results
      </div>
      <ol class="list-items">
        <li class="list-group-item" *ngFor="let track of tracks.list" (click)="select(track)" [ngClass]="{'active': track.isPlaying || track.isPaused}">
          <div class="col-xs-20 col-sm-20 col-md-22 track-info">
            <span *ngIf="!track.isPlaying && track.isPaused">
              <span class="glyph glyph-pause"></span>
            </span>
            <span *ngIf="track.isPlaying && !track.isPaused">
              <span class="glyph glyph-play"></span>
            </span>{{track.title}}
            <br />
            <span class="small color-type-secondary">
              {{track.trackArtist}} &bull; {{track.album.name}}
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2 text-right">
            {{track.duration | timeFormat }}
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>