<ol class="list-items">
    <li class="list-group-item" *ngFor="let track of playlist.tracks" (click)="select(track)" [ngClass]="{'active': track.isPlaying || track.isPaused}">
        <div class="col-xs-20 col-sm-20 col-md-22">
            <span *ngIf="track.isPlaying"><span class="glyph glyph-play"></span> </span>{{track.title}} <br />
            <span class="small color-type-secondary">
              {{track.album.artist.name}} &bull; {{track.album.name}}
            </span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 text-right">
            {{track.duration | timeFormat }}
        </div>
    </li>
</ol>