<div class="container animated-page">
  <div class="row">
    <div class="col-xs-24 col-lg-3 col-lg-fixed">
      <h4>Playlists</h4>
      <ul class="nav nav-pills nav-stacked">
        <li *ngIf="currentPlaylist"><a (click)="setPlaylist('current')">Current playlist</a></li>
        <li><a (click)="setPlaylist('last.fm')" *ngIf="username && username !=='mdb-skipped'">Loved tracks on last.fm</a></li>
        <li><a (click)="setPlaylist('random')">50 random tracks</a></li>
        <li><a (click)="setPlaylist('radio')" *ngIf="username && username !=='mdb-skipped'">Random based on your preferences</a></li>
        <li><a (click)="setPlaylist('artist')">Artist radio</a></li>
      </ul>
      <button class="btn btn-inline btn-link" tooltip="Create a new playlist" tooltipTrigger="mouseenter" tooltipPlacement="right" (click)="lgModal.show()"><i class="glyph glyph-add"></i></button>
    </div>
    <div class="col-xs-24 col-lg-19 col-lg-offset-5" *ngIf="loading">
      <div class="progress-bar">
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
      </div> <br />
      <p class="small" *ngIf="playlist && playlist.tracks && playlist.tracks.length > 0">
        Tracks found: {{ playlist.tracks.length}}
      </p>
    </div>
    <div class="col-xs-24 col-lg-19 col-lg-offset-5" *ngIf="playlist && !loading && !showStartingArtist">
      <h4 sticky class="header-seperator">{{playlist.name}} <span class="small color-type-secondary">({{playlist.tracks.length}})</span></h4>
      <mdb-tracklist [playlist]="playlist" *ngIf="!loading"></mdb-tracklist>
    </div>
    <div class="col-xs-24 col-lg-19 col-lg-offset-5" *ngIf="showStartingArtist && !loading && !playlist">
      <h4 sticky class="header-seperator">Select an artist as starting point</h4>
      <form role="form" #sortForm="ngForm" [ngClass]="{'theme-alt': theme === 'dark'}" class="form-inline">
        <ol class="list-items">
          <li class="list-group-item list-group-special">
            <div class="form-group">
              <label for="sort"><span class="small color-type-secondary">Select an artist</span></label>
              <div class="combobox">
                <select class="form-control" #name="ngModel" name="sort" id="sort" [(ngModel)]="startingArtistName" (ngModelChange)="onChange($event)">
                  <option *ngFor="let artist of artists">{{artist.name}}</option>
                </select>
              </div>
            </div>
          </li>
        </ol>
      </form>
    </div>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>