<div class="container">
  <div class="row">
    <div class="col-xs-24 col-lg-5">
      <ul class="nav nav-pills nav-stacked">
        <li *ngIf="currentPlaylist"><a (click)="setPlaylist('current')">Current playlist</a></li>
        <li><a (click)="setPlaylist('last.fm')">Loved tracks on last.fm</a></li>
        <li><a (click)="setPlaylist('random')">50 random tracks</a></li>
      </ul>
    </div>
    <div class="col-xs-24 col-lg-19" *ngIf="playlist">
      <h4>{{playlist.name}} <span class="small color-type-secondary">({{playlist.tracks.length}})</span></h4>
      <mdb-tracklist [playlist]="playlist"></mdb-tracklist>
    </div>
  </div>
</div>