// _buttons
.btn[data-toggle="button"].btn-toggle-switch {
  border-color: gray("800");
  &::before {
    background-color: gray("800");
  }
  .state-label {
    color: gray("900");
  }
  &:hover, &:active {
    border-color: gray("900");
    &::before {
      background-color: gray("900");
    }
  }
  &.active {
    background-color: var(--primary);
    &:hover, &:active {
      background-color: var(--primary);
    }
  }
}
.btn-link {
  color: var(--primary);
}
.btn-link:hover,
.btn-link:focus  {
  color: var(--lighten);
}
.btn-primary {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--letter-color);
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: var(--primary);
  background-color: var(--lighten);
}

// _headers
h3,
h4,
.header-seperator {
  border-bottom: 1px solid var(--primary);
  background: gray("100");
  color: gray("900");
  &:hover {
    background: gray("100") !important;
  }
}

// jumbotrons
.jumbotron {
  background: $gray-150;
  &.shrunk {
    background: $gray-150-semi;
  }
  img {
    border: 1px solid $gray-150;
  }
}

// jump-list
.jump-list {
  background: gray("100");
}

// lists
.list-recently {
  li {
    border-bottom: 1px solid gray("300");
    .now-playing {
      color: var(--primary);
    }
    &:hover {
      background: gray("200");
    }
  }
}
.container-longlist li {
  border-bottom: 1px solid gray("300");
  &:hover {
    background: gray("200");
  }
}
.list-tracks {
  li {
    border-bottom: 1px solid gray("300");
    &:hover {
      background: gray("200");
    }
    &.header-seperator {
      border-bottom-color: var(--primary);
    }
    &.active {
      background-color: var(--primary);
    }
  }
}

// menus
.menu-top {
  background: gray("200");
  .btn-menu {
    color: gray("900");
  }
  .logo {
    path {
      fill: gray("900");
    }
  }
}
.side-nav__container,
.side-nav-xl {
  background-color: gray("200");
  .side-nav__content li {
    a {
      color: gray("900") !important;
    }
    &:hover {
      border-left-color: var(--primary);
    }
    &.active {
      background-color: gray("300");
      border-left-color: var(--primary);
    }
    &:focus,
    &:active {
      background-color: gray("400");
    }
  }
  .side-nav__content .search-bar input {
    color: var(--primary);
    background: gray("100");
    border: 1px solid var(--primary);
  }
  .side-nav__content .search-bar .input-group-addon {
    color: var(--primary);
  }
}

// navs
.nav-letters {
  background: var(--primary);
  .nav-item {
    a {
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: gray("100");
        background: var(--darken);
      }
    }
  }
}

// now-playing
#nowPlaying {
  background: gray("100");
  .top,
  .bottom {
    background: gray("100");
  }
  .control-wrapper-wrapper {
    text-shadow: 0 0 1px gray("100");
    background: linear-gradient(to bottom, transparent 0%, gray("100") 100%);
  }
  &.small-art.no-focus .control-wrapper-wrapper {
    background: linear-gradient(to bottom, transparent 90%, gray("100") 100%);
  }
  &.small-art {
    .controls-wrapper h4,
    .controls-wrapper h5 a {
      color: var(--letter-color);
      text-shadow: 0 0 5px var(--darken);
    }
  }
}
#nowPlaying .icons button.active {
  background: var(--primary);
}
#nowPlaying .icons button:active {
  background: gray("100");
  color: var(--primary);
}
#nowPlaying .progress {
  .progress-bar {
    background-color: var(--primary);
  }
}
#position-indicator {
  border-color: var(--primary);
  background: gray("100");
}

// page
body {
  background: gray("100");
  color: gray("900");
}

// player
.player {
  background: gray("200");
}
.player .progress .progress-bar {
  background-color: var(--primary);
}
.player {
  .row .btn.active {
    background: var(--primary);
    color: var(--letter-color);
  }
  .row .btn:active {
    background: var(--text-light);
    color: var(--primary);
  }
}
.volume-control {
  border: 1px solid gray("400");
  background: gray("100");
}

// preloader
.preloader {
  background: gray("100");
}

// progress
.progress {
  background-color: var(--lighten30);
}
.progress-bar {
  .progress-circle {
    background-color: var(--primary);
  }
}

// reload
#reloading {
  background: gray("100");
}

// titlebars
.title-bar-btns button {
  color: gray("900");
  &:hover {
    background-color: gray("400");
  }
}

// tooltips
.tooltip-inner {
  background: gray("100");
  border: 1px solid gray("900");
}

// utils
a,
a:not([href]):not([tabindex]),
.clickable {
  color: var(--text-light);
  &:hover {
    color: var(--lighten);
  }
}

// webkit
/* purgecss start ignore */
::-webkit-scrollbar-track {
  background-color: var(--lighten30);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
/* purgecss end ignore */
.media-panel,
.nowplaying-image,
.jumbotron img,
.container-longlist .panel-background {
  border: 1px solid gray("100");
  box-shadow: 0px 0px 1px var(--primary);
}
