.btn-link {
  color: var(--text-dark);
}
.btn-link:hover {
  color: var(--text-dark);
}

// _headers
h3,
h4,
.header-seperator {
  border-bottom: 1px solid var(--primary);
  background: gray("100");
  color: gray("900");
  &:hover {
    background: gray("100") !important;
  }
}

// lists
.list-recently {
  li {
    border-bottom: 1px solid gray("300");
    .now-playing {
      color: var(--text-dark);
    }
    &:hover {
      background: gray("200");
    }
  }
}
// player
.player {
  .row .btn:active {
    background: var(--text-dark);
  }
}
.progress {
  background-color: var(--darken30);
}
.progress-bar {
  .progress-circle {
    background-color: var(--primary);
  }
}

// utils
a,
a:not([href]):not([tabindex]),
.clickable {
  color: var(--text-dark);
  &:hover {
    color: var(--lighten);
  }
}

// now-playing
#nowPlaying.small-art {
  .controls-wrapper h4,
  .controls-wrapper h5 a {
    text-shadow: 0 0 5px var(--lighten);
  }
}

.media-panel,
.nowplaying-image,
.jumbotron img,
.container-longlist .panel-background {
  border: 1px solid gray("100");
}

// webkit
::-webkit-scrollbar-track {
  background-color: var(--darken30);
}
