$gray-900: #f8f9fa !default;
$gray-800: #e9ecef !default;
$gray-700: #dee2e6 !default;
$gray-600: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-400: #6c757d !default;
$gray-300: rgb(60, 60, 60) !default;
$gray-200: rgb(51, 51, 51) !default;
$gray-150: rgb(37, 37, 37);
$gray-100: rgb(30, 30, 30) !default;

:root {
  --primary: rgba(0, 130, 225, 1);
  --darken: rgba(0, 146, 253, 1);
  --lighten: rgba(0, 113, 196, 1);
  --text-light: rgba(0, 130, 225, 1);
  --text-dark: rgba(0, 130, 225, 1);
  --letter-color: rgba(255, 255, 255, 1);
}
