h3, h4, .header-seperator {
    overflow: hidden;
    border-bottom: 1px solid theme-color('primary');
    border-top: none;
    background: gray('100');
    color: gray('900');
    z-index: 2;
    padding: 6px 15px 3px;
    margin: 0 -15px;
    top: 48px;
    position: sticky;
    @include media-breakpoint-up(lg) {
        top: 100px;
    }
}