.jumbotron {
  background: gray("200");
  @include media-breakpoint-up(lg) {
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 -50px 0 -30px;
  }
  .container {
    padding: 0;
  }
  img {
    width: 100%;
    height: auto !important;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3,
  h4 {
    position: relative;
    top: auto;
    border-bottom: 0;
    background: none;
    font-size: 1.5rem;
    &:hover {
      background: none !important;
    }
  }
  h4 {
    font-size: 1.2rem;
  }
}
