.list-recently {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0 -15px;
        padding: 10px 5px;
        list-style: none;
        overflow: hidden;
        border-bottom: 1px solid gray('300');
        cursor: pointer;

        img {
            width: 100%;
        }
        .now-playing {
            color: theme-color('primary');
        }
        .small {
            display: block;
        }

        &:hover {
            background: gray('200');
        }
    }
}

.container-longlist ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-longlist li {
    margin: 0 -15px;
    padding: 10px;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid gray('300');
    &:last-child {
        border-bottom: none;
    }
    cursor: pointer;
    &:hover {
        background: gray('200');
    }
}
.container-longlist /deep/ .panel-background {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 60px;
    height: 60px;
    box-shadow: none;
}

.container-longlist /deep/ .panel-info {
    display: none;
}

.container-longlist .image-wrapper {
    float: left;
}

.container-longlist .text-wrapper {
    float: left;
    width: calc(100% - 70px);
}
.container-longlist .text-wrapper .text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-longlist h4 {
    padding-left: 10px;
    margin-bottom: 10px;
}

.container-longlist h4 a:hover {
    text-decoration: none;
}

/deep/ .vsFor-before,
/deep/ .vsFor-after {
    float: left;
}