.nav-letters {
  height: 50px;
  top: 50px;
  position: fixed;
  width: 100%;
  background: var(--primary);
  .nav-item {
    a {
      cursor: pointer;
      display: block;
      color: var(--letter-color) !important;
      padding: 13px 0;
      background: transparent;
      transition: background 0.2s ease-in;
      &:hover,
      &:focus,
      &.active {
        background: var(--darken);
      }
    }
  }
}
