#nowPlaying {
  z-index: 1029;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  width: 100%;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  background: gray("100");
  .top,
  .bottom {
    transition: 0.3s ease-out;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: gray("100");
  }
  .top {
    z-index: 1;
    will-change: transform;
  }
  .bottom {
    height: calc(100% - 70px);
    overflow: auto;
    margin-top: 70px;
  }
  .image-wrapper,
  .youtube-wrapper {
    position: relative;
    height: calc(100% - 170px);
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    transition: -webkit-transform 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
    will-change: transform, opacity;
    canvas {
      display: none;
    }
  }
  .youtube-wrapper {
    z-index: 3;
  }
  .control-wrapper-wrapper {
    text-shadow: 0 0 1px gray("100");
    background: linear-gradient(to bottom, transparent 0%, gray("100") 100%);
  }
  &.small-art.no-focus .control-wrapper-wrapper {
    background: linear-gradient(to bottom, transparent 90%, gray("100") 100%);
  }
  .controls-wrapper h4 {
    top: auto;
    border-bottom: none;
    background: transparent;
    padding: 0;
    &:hover {
      background: transparent !important;
    }
  }
}

@media screen and (min-width: 768px) {
  #nowPlaying.small-art .image-wrapper > div {
    width: 180px;
    height: 180px;
    top: auto;
    left: 0;
    bottom: -40px;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-out;
  }
  #nowPlaying.small-art.no-focus .image-wrapper > div {
    transform: translateY(115px);
  }
  #nowPlaying .bottom {
    height: calc(100% - 150px);
    margin-top: 150px;
  }
}

@media screen and (min-width: 768px) {
  #nowPlaying .image-wrapper canvas,
  #nowPlaying .youtube-wrapper canvas {
    display: inline-block;
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
    bottom: 20px;
  }
  #nowPlaying.small-art .image-wrapper canvas {
    left: 0;
    width: 100%;
    height: calc(100% + 175px);
    bottom: -175px;
  }
}

@media screen and (min-width: 1200px) {
  #nowPlaying .image-wrapper,
  #nowPlaying .youtube-wrapper {
    height: calc(100% - 115px);
  }
  #nowPlaying.small-art .image-wrapper canvas {
    height: calc(100% + 115px);
    bottom: -115px;
  }
  #nowPlaying.small-art .image-wrapper > div {
    bottom: 50px;
  }
}
#nowPlaying .image-wrapper div.current-album-art {
  z-index: 0;
}
#nowPlaying .image-wrapper div.previous-album-art {
  z-index: 1;
}
#nowPlaying .image-wrapper div {
  height: calc(100% - 30px);
  width: calc(100% - 20px);
  display: block;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
}
#nowPlaying .youtube-wrapper iframe {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  #nowPlaying.small-art .control-wrapper-wrapper {
    position: relative;
    margin: -150px -10px 0;
    padding: 150px 10px 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.2s ease-out;
  }
  #nowPlaying.small-art.no-focus .image-wrapper {
    transform: translateY(35px);
  }
  #nowPlaying.small-art.no-focus .control-wrapper-wrapper {
    transform: translateY(150px);
  }
  #nowPlaying.small-art.no-focus .image-wrapper canvas {
    bottom: -80px;
  }
}
#nowPlaying .controls-wrapper {
  position: relative;
}
#nowPlaying .controls-wrapper h4,
#nowPlaying .controls-wrapper h5 {
  padding-top: 0;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  #nowPlaying.small-art .controls-wrapper h4,
  #nowPlaying.small-art .controls-wrapper h5 {
    position: absolute;
    bottom: 70px;
    font-size: 36px;
    left: 215px;
    width: calc(100% - 240px);
    margin: 0;
  }
  #nowPlaying.small-art .controls-wrapper h5 {
    font-weight: 400;
  }
}
#nowPlaying .controls-wrapper h4 {
  padding-top: 10px;
  margin-bottom: -3px;
}
@media screen and (min-width: 768px) {
  #nowPlaying.small-art .controls-wrapper h4 {
    bottom: 110px;
    font-size: 72px;
    left: 212px;
    margin-bottom: 0;
  }
}
#nowPlaying .icons {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  #nowPlaying .icons {
    top: -55px;
    position: relative;
    pointer-events: none;
  }
  #nowPlaying .icons button,
  #nowPlaying .icons input {
    pointer-events: all;
  }
  #nowPlaying.small-art .icons {
    top: 13px;
    margin-top: 8px;
  }
}
#nowPlaying .icons button {
  display: inline-block;
  min-width: 65px;
  outline: none;
  font-size: 32px;
  margin-top: 0;
  transition: all 0.1s linear;
  border-radius: 50%;
  height: 65px;
  text-decoration: none !important;
}
#nowPlaying .icons button .glyph {
  display: block;
  position: relative;
  margin: -1px 0 0 6px;
}
#nowPlaying .icons button.active {
  background: var(--primary);
  color: var(--letter-color);
}
#nowPlaying .icons button:active {
  background: gray("100");
  color: var(--primary);
}
#nowPlaying .icons .btn-updown {
  margin-top: -20px;
  min-width: 45px;
  height: 45px;
}
#nowPlaying .icons .btn-love {
  position: absolute;
  right: 20px;
}
#nowPlaying .icons .btn-volume {
  position: absolute;
  right: 90px;
}
#nowPlaying .icons .btn-shuffle {
  position: absolute;
  right: 170px;
}
#nowPlaying .icons .btn-youtube {
  position: absolute;
  right: 250px;
}
#nowPlaying .progress {
  width: calc(100% - 150px);
  margin: 0 auto;
  overflow: visible;
  position: relative;
  height: 6px;
  .progress-bar {
    background-color: var(--primary);
  }
}
#nowPlaying .time {
  position: absolute;
  top: -10px;
  left: 20px;
}
#nowPlaying .time.stop {
  left: auto;
  right: 20px;
}
footer.hidePlayer {
  height: 0;
}
#nowPlaying.slided .top {
  transform: translateY(calc(-100% + 80px));
}

@media screen and (min-width: 768px) {
  #nowPlaying.slided .top {
    transform: translateY(calc(-100% + 125px));
  }
}
#nowPlaying.slided .top .image-wrapper {
  opacity: 0;
}
#nowPlaying #upordown {
  transition: 0.3s ease-out 0.15s;
  margin-left: 5px;
  font-size: 14px;
}
#nowPlaying.slided #upordown {
  transform: rotate(180deg);
}
#nowPlaying .volume-control {
  position: absolute;
  z-index: 1000;
  width: 270px;
  right: 20px;
  bottom: 90px;
  padding: 10px;
}
#progress-pusher {
  position: relative;
  width: calc(100% - 150px);
  height: 60px;
  left: 70px;
  top: -30px;
  margin-bottom: -60px;
}
#position-indicator {
  width: 18px;
  height: 18px;
  border-color: var(--primary);
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  position: relative;
  z-index: 10;
  top: -11px;
  left: -8px;
  cursor: pointer;
  display: block;
  transform-origin: center;
  transition: all 0.1s linear;
  pointer-events: none;
  will-change: margin;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  background: gray("100");
}
#position-indicator.dragging {
  transform: scale(2);
  border-width: 2px;
  transition: none !important;
}
.buffered-bar {
  position: absolute;
  opacity: 0.25;
}
#nowPlaying .row {
  .track-info {
    margin-left: 10px;
  }
}
