.progress {
  display: block;
  width: 100%;
}
.progress-bar {
  height: 6px;
  display: block;
  transition: width 0.1s linear;
  position: relative;
  background: transparent;
  .progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    animation: progress-bar-animation 3s infinite;
    &:nth-child(2) {
      animation-delay: 200ms;
    }
    &:nth-child(3) {
      animation-delay: 400ms;
    }
    &:nth-child(4) {
      animation-delay: 600ms;
    }
    &:nth-child(5) {
      animation-delay: 800ms;
    }
  }
}
.progress-wrapper {
  display: inline-block;
  margin-left: 16px;
  width: 170px;
  position: relative;
  .progress-bar {
    display: block;
  }
}
@keyframes progress-bar-animation {
  0% {
    transform: translate(0, 0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  30% {
    transform: translate(60px, 0);
    animation-timing-function: linear;
    opacity: 1;
  }
  70% {
    transform: translate(120px, 0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    transform: translate(180px, 0);
    opacity: 0;
  }
}
