#reloading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 20vh;
  z-index: 1200;
  background: gray("100");
  text-align: center;
  .progress-bar {
    height: 6px;
    width: 180px;
    margin: 6px auto;
    float: none;
  }
}
