#reloading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 20vh;
    z-index: 1200;
    background: gray('100');
    text-align: center;

    .progress-bar {
      height: 0;
      width: 180px;
      margin: 0 auto;
      float: none;
    }
  }
