:root {
  --primary: rgba(0, 110, 205, 1);
  --darken: rgba(0, 103, 185, 1);
  --lighten: rgba(0, 136, 244, 1);
  --text-light: rgba(0, 103, 185, 1);
  --text-dark: rgba(0, 110, 205, 1);
  --letter-color: rgba(255, 255, 255, 1);
}
