$icon-font-path: "../../node_modules/winstrap/src/fonts/glyphs/";
$blue: rgba(0, 110, 205, 1);
$enable-rounded: false;
$enable-caret: false;
$enable-print-styles: false;
$headings-font-weight: 100;

$tooltip-color: gray("100");
$tooltip-bg: gray("900");
