$icon-font-path: "../../node_modules/winstrap/src/fonts/glyphs/";
$blue: rgba(0, 110, 205, 1);
$gray-150: #f2f4f7 !default;
$gray-150-semi: rgba(242,244,247, 0.85);
$enable-rounded: false;
$enable-caret: false;
$enable-print-styles: false;
$headings-font-weight: 100;

$tooltip-color: gray("100");
$tooltip-bg: gray("900");
