@charset "UTF-8";
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

img {
    border: 0
}

* {
    box-sizing: border-box
}

:after,
:before {
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    font-family: "Segoe UI", Selawik, Tahoma, Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5625;
    color: #000;
    background-color: #fff
}

img {
    vertical-align: middle
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 23px;
    color: #fff;
    text-align: center;
    background-color: #000;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15)
}

@-ms-viewport {
    width: device-width
}

@font-face {
    font-family: Selawik;
    src: url(../fonts/selawk.eot);
    src: url(../fonts/selawk.eot#iefix) format("embedded-opentype"), url(../fonts/selawk.ttf) format("truetype")
}

.progress-bar {
    position: relative;
    width: 180px;
    height: 4px
}

.progress-bar .progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    opacity: 0;
    animation: progress-bar-animation 3s infinite
}

.progress-bar .progress-circle:after {
    content: "\2022";
    position: absolute;
    font-size: 10px;
    color: #0078d7
}

.progress-bar .progress-circle:nth-child(2) {
    animation-delay: .2s
}

.progress-bar .progress-circle:nth-child(3) {
    animation-delay: .4s
}

.progress-bar .progress-circle:nth-child(4) {
    animation-delay: .6s
}

.progress-bar .progress-circle:nth-child(5) {
    animation-delay: .8s
}

@keyframes "progress-bar-animation" {
    0% {
        transform: translate(0, 0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    30% {
        transform: translate(60px, 0);
        animation-timing-function: linear;
        opacity: 1;
    }
    70% {
        transform: translate(120px, 0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    100% {
        transform: translate(180px, 0);
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, .2)
}

::-webkit-scrollbar-thumb {
    background-color: #0078d7
}

body {
    padding-top: 55px;
    padding-bottom: 80px;
    background: #fff;
    color: #000;
    font-size: 17px
}

@media only screen and (min-width:768px) {
    body {
        padding-top: 105px
    }
}

.preloader {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    background: #fff
}

.preloader .progress-bar {
    height: 0;
    width: 180px;
    margin: 0 auto;
    float: none
}

.progress-bar {
    height: 0
}