<div *ngIf="showPlayer" class="player">
    <div class="row">
        <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': ((track.position / track.duration)* 100) + '%'}">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-sm">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" (click)="navigateToNowPlaying()">
                <albumart [track]="track"></albumart>
            </div>
            <div class="col-xs-11 col-sm-15 col-md-15 col-lg-19">
                <h4>{{track.title}}</h4>
                <h5>
                    <a (click)="navigateToArtist()">{{track.trackArtist}}</a><span class="hidden-xs color-type-secondary"> &bull; <a (click)="navigateToAlbum()">{{track.album.name}}</a></span></h5>
            </div>
            <div class="col-xs-9 col-sm-6 col-md-7 col-lg-4 text-right">
                <a class="btn btn-link" (click)="prev()"><span class="glyph glyph-previous"></span> </a>
                <a class="btn btn-link" (click)="togglePlayPause()"><i class="glyph glyph-pause" *ngIf="isPlaying"></i><i class="glyph glyph-play" *ngIf="isPaused"></i></a>
                <a class="btn btn-link" (click)="next()"><span class="glyph glyph-next"></span> </a>
                <a class="btn btn-link hidden-xs hidden-sm btn-love" (click)="toggleLoved()" [ngClass]="{active:track.isLoved}"><i class="glyph glyph-star-outline"></i></a>
                <a class="btn btn-link hidden-xs hidden-sm btn-shuffle" (click)="toggleShuffle()" [ngClass]="{active:isShuffled}"><i class="glyph glyph-shuffle"></i></a>
            </div>
        </div>
    </div>
</div>