.player {
    background: #efefef;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.row >>> img {
    height: 63px;
    margin-left: -10px;
}
@media screen and (min-width: 480px) {
    .row >>> img {
        height: 75px;
    }
}
.row h4 {
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row h5 {
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row .btn {
    font-size: 16px;
    min-width: 20px;
    transition: color 0.25s linear;
    padding-left: 10px;
    padding-right: 0;
}
@media screen and (min-width: 480px) {
    .row .btn {
        font-size: 32px;
    }
}
.row .btn:hover {
    color: #bbbbbb;
}