.player {
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 14;
}
.player albumart {
    margin-left: -10px;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.95;
    will-change: opacity;
}
.player albumart:hover {
    opacity: 1;
}
.row h4 {
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row h5 {
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row .btn {
    font-size: 16px;
    transition: all 0.25s linear;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    padding: 5px 0 0 0;
    width: 23px;
    height: 23px;
    min-width: 0;
    margin-right: 5px;
    margin-top: 16px;
}
.row .btn .glyph {
    display: block;
    position: relative;
    margin: -1px 0 0 4px;
}
.row .btn.active {
    background: rgba(0,120,215,1);
    color: #ffffff;
}
.row .btn:active  {
    background: #e1e1e1;
    color: rgba(0,120,215,1);
}
@media screen and (min-width: 480px) {
    .row .btn {
        font-size: 24px;
        width: 40px;
        height: 40px;
        padding-top: 9px;
        margin-top: 20px;
    }
    .row .btn .glyph {
        margin-left: 9px;
    }
}
@media screen and (min-width: 1024px) {
    .col-lg-2 {
        width: 75px;
    }
}