<div class="container" *ngIf="recentlyListenedTracks">
  <div class="row">
    <div class="col-xs-24">
      <h2>Recently listened</h2>
      <ol class="list-items">
        <li class="list-group-item" *ngFor="let track of recentlyListenedTracks" [ngClass]="{'now-playing': track.nowPlaying}">
          <div class="col-xs-2 col-sm-1 ">
            <span *ngIf="track.nowPlaying === true" class="glyph glyph-play" aria-hidden="true"></span>
            <img *ngIf="track.nowPlaying === false" class="nowplaying-image" src="{{track.image}}">
          </div>
          <div class="col-xs-18 col-sm-19 col-md-20">
            {{track.artist}} &bull; {{track.title}} <br />
            <span class="color-type-secondary small">{{track.album}} </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 text-right">
            {{track.date | date:'mediumTime' }} <br />
            <span class="color-type-secondary small">{{track.date | date:'mediumDate' }}</span>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>