h4 {
  border-bottom: 1px solid rgba(0,120,215,1);
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: -9px;
}
h4[sticky] {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
@media screen and (min-width: 768px) {
  h4[sticky] {
    top: 100px;
  }
}
.list-group-item {
    overflow: hidden;
    padding: 10px 0;
}
.now-playing {
  color: rgba(0,120,215,1);
}
.glyph {
  font-size: 24px;
  display: inline-block;
  margin-top: 6px;
}
.nowplaying-image {
  width: 100%;
  height: auto;
  max-height: 87px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
    .nowplaying-image {
        width: 45px;
        height: 45px;
    }
}
@media screen and (min-width: 768px) {
    .text-right span {
        display: block;
    }
}