<div class="row">
	<div class="col-xs-16 col-sm-12 col-lg-6 pull-right">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-xs-12 text-right" style="margin-top: 8px;">Sort by: </label>
				<div class="col-xs-12">
					<div class="combobox">
						<select class="form-control">
                            <option>Name</option>
                            <option>Albums</option>
                        </select>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>