.menu-top {
    background: #EFEFEF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.btn-menu {
    margin: 0;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: -3px;
}

h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 1;
    padding: 0 0 0 20px;
    position: relative;
    top: 6px;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 60px);
    text-overflow: ellipsis;
}