.menu-top {
    background: #EFEFEF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 50px;
}
.btn-menu {
    margin: 0;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: -12px;
    left: 0;
}
.logo {
    max-width: 50px;
    min-width: 50px;
    position: relative;
    top: -14px;
    left: 10px;
}
h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 1.3;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 70px);
    text-overflow: ellipsis;
    margin-left: 10px;
}


.menu-offcanvas {
    background: #efefef;
    position: absolute;
    left: 0;
    width: 250px;
    bottom: 0;
    top: 50px;
    z-index: 11;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in;
}
.menu-offcanvas.open {
    transform: translateX(0);
}
.menu-offcanvas li {
    border-left: 3px solid transparent;
    margin: 0;
}
.menu-offcanvas li:hover {
    background: #e1e1e1;
}
.menu-offcanvas li a {
    color: #000;
    padding: 15px 20px;
}
.menu-offcanvas li:hover, .menu-offcanvas li.active {
    border-left: 3px solid rgba(0,120,215,1);
}
.menu-offcanvas li:hover a, .menu-offcanvas li.active a {
    color: rgba(0,120,215,1);
    background-color: transparent;
}
.menu-offcanvas li a .glyph {
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
    top: -2px;
}