<div class="menu-top">
    <span (click)="toggleMenu()">
        <button class="btn btn-menu hidden-md hidden-lg">
            <span class="glyph glyph-hamburger" aria-hidden="true"></span>
        </button>
        <a class="visible-md-inline-block visible-lg-inline-block">
            <img class="logo" src="/global/images/logo.png">
        </a>
    </span>
    <h1>
        <span *ngIf="path && path.album">{{path.artist.albumArtist || path.artist.name}} <span class="hidden-xs">&bull; {{path.album.name}}</span></span>
        <span *ngIf="path && path.artist && !path.album">{{path.artist.albumArtist || path.artist.name}}</span>
        <span *ngIf="path && !path.artist">JSMusicDB Next</span>
        <span *ngIf="!path && page">{{page}}</span>
        <span *ngIf="!path && !page">JSMusicDB Next</span>
    </h1>
    <button class="btn btn-menu btn-search visible-xs visible-sm" (click)="toggleSearch()">
        <i class="glyph glyph-magnifier" *ngIf="!topSearchVisible"></i>
        <i class="glyph glyph-clear" *ngIf="topSearchVisible"></i>
    </button>
    <form role="form" (ngSubmit)="onSubmit()" [formGroup]="form" [ngClass]="{'visible': topSearchVisible}">
        <input type="text" class="form-control" id="search" placeholder="Search for" [formControlName]="'query'">
    </form>
</div>

<aside class="js-side-nav side-nav" [ngClass]="{'side-nav--visible': menuVisible}">
    <nav class="js-side-nav-container side-nav__container">
        <ul class="side-nav__content nav nav-pills nav-stacked">
            <li class="hidden-xs hidden-sm search-bar">
                <div class="form-group" tooltip="Search for ..." tooltipTrigger="mouseenter" tooltipPlacement="top">
                    <div class="input-group">
                        <form role="form" (ngSubmit)="onSubmit()" [formGroup]="form">
                            <input type="text" class="form-control" id="search" placeholder="Search for" [formControlName]="'query'">
                            <button class="input-group-addon"><i class="glyph glyph-magnifier"></i></button>
                        </form>
                    </div>
                </div>
            </li>
            <li [ngClass]="{'active': page === 'Home'}"><a [routerLink]="['Home']" tooltip="Home" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-home"></span> Home</a></li>
            <li [ngClass]="{'active': page === 'Letters'}" class="visible-xs"><a [routerLink]="['Letters']" tooltip="Letters" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-characters"></span> Letters</a></li>
            <li [ngClass]="{'active': page === 'Artists'}"><a [routerLink]="['Artists']" tooltip="Artists" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-people"></span> Artists</a></li>
            <li [ngClass]="{'active': page === 'Albums'}"><a [routerLink]="['Albums']" tooltip="Albums" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-music-album"></span> Albums</a></li>
            <li [ngClass]="{'active': page === 'Playlists'}">
                <a [routerLink]="['Playlists', {playlist: null}]" tooltip="Playlists" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-music-info"></span> Playlists</a>
            </li>
            <li [ngClass]="{'active': page === 'Now playing'}">
                <a [routerLink]="['NowPlaying']" tooltip="Now playing" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-audio"></span> Now playing</a>
            </li>
            <li *ngIf="manualScrobblingList.length > 0" [ngClass]="{'active': page === 'Scrobble cache'}"><a [routerLink]="['ScrobbleCache']" tooltip="Scrobble cache" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-upload"></span> Scrobble cache</a></li>
            <li [ngClass]="{'active': page === 'Settings'}"><a [routerLink]="['Settings']" tooltip="Settings" tooltipTrigger="mouseenter" tooltipPlacement="top"><span class="glyph glyph-settings"></span> Settings</a></li>
        </ul>
    </nav>
</aside>