@charset "utf-8";

@import "./../sass/variables";
@import "./../sass/mixins";

.menu-top {
    background: #EFEFEF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    height: 50px;

    &.dark {
        background: #1A1A1A;
        color: white;
    }
}
.btn-menu {
    margin: 0;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: -13px;
    left: 0;
    background: transparent;
}
.btn-menu:active {
    box-shadow: none;
    outline: none;
}
.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
}
.menu-top form {
    position: absolute;
    left: 10px;
    top: 4px;
    right: 50px;
    display: none;
}
.menu-top form.visible {
    display: block;
}
.menu-top form input {
    background: #ffffff;
}
.logo {
    max-width: 50px;
    min-width: 50px;
    position: relative;
    top: -14px;
    left: 10px;
}
h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 1.3;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 70px);
    text-overflow: ellipsis;
    margin-left: 10px;
}

.side-nav__content li {
    border-left: 5px solid transparent;
    margin: 0;
}
.side-nav__content li:hover {
    background: #e1e1e1;
}
.side-nav__content li a {
    color: #000;
    padding: 20px 20px;
}
.side-nav__content li:hover, .side-nav__content li.active {
    border-left-color: rgba(0,120,215,1);
}
.side-nav__content li:hover a, .side-nav__content li.active a {
    color: rgba(0,120,215,1);
    background-color: transparent;
}
.side-nav__content li a .glyph {
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
    top: -2px;
}
.side-nav__content .search-bar .form-group{
    margin: 0;
    padding: 10px 15px;
}
.side-nav__content .search-bar .input-group {
    position: relative;
    width: 100%;
}
.side-nav__content .search-bar .input-group-addon {
    border: 0;
    background: none;
    position: absolute;
    right: 36px;
    top: 7px;
    color: #000000;
    z-index: 3;
}
.side-nav__content .search-bar .input-group-addon:focus, .side-nav__content .search-bar .input-group-addon:active {
    outline: none;
}
.side-nav__content .search-bar:hover {
    border-left-color: transparent;
    background-color: transparent;
}

.dark .side-nav__container {
    background-color: #1A1A1A;

    .side-nav__content li a {
        color: #fff;
    }
    .side-nav__content li:hover, .side-nav__content li.active {
        background-color: rgba(255,255,255,0.1);
    }
    .side-nav__content .search-bar input {
        color: #fff;
        background: black;
        border: 1px solid #fff;

    }
    .side-nav__content .search-bar .input-group-addon {
        color: #fff;
    }
}