.menu-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 13;
    height: 50px;
}
.btn-menu {
    margin: 0;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: -13px;
    left: 0;
    background: transparent;
}
.btn-menu:active {
    box-shadow: none;
    outline: none;
}
.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
}
.menu-top form {
    position: absolute;
    left: 10px;
    top: 4px;
    right: 50px;
    display: none;
}
.menu-top form.visible {
    display: block;
}
.menu-top form input {
    max-width: 100%;
}
.logo {
    max-width: 50px;
    min-width: 50px;
    position: relative;
    top: -14px;
    left: 10px;
}
h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 1.3;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 105px);
    text-overflow: ellipsis;
    margin-left: 10px;
}

.side-nav-xl {
    position: fixed;
    left: 0;
    top: 100px;
    height: calc(100% - 100px);
    z-index: 13;
}

.side-nav__content li {
    border-left: 5px solid transparent;
    margin: 0;
}
.side-nav__content li a {
    padding: 20px 20px;
}
.side-nav__content li:hover, .side-nav__content li.active {
    border-left-color: rgba(0,120,215,1);
}
.side-nav__content li:hover a, .side-nav__content li.active a {
    color: rgba(0,120,215,1);
    background-color: transparent;
}
.side-nav__content li a .glyph {
    margin-right: 10px;
    font-size: 1.9em;
    position: relative;
    top: -2px;
}
.side-nav__content .search-bar .form-group{
    margin: 0;
    padding: 10px 15px;
}
.side-nav__content .search-bar .input-group {
    position: relative;
    width: 100%;
}
.side-nav__content .search-bar .input-group-addon {
    border: 0;
    background: none;
    position: absolute;
    right: 36px;
    top: 7px;
    z-index: 3;
}
.side-nav__content .search-bar .input-group-addon:focus, .side-nav__content .search-bar .input-group-addon:active {
    outline: none;
}
.side-nav__content .search-bar:hover {
    border-left-color: transparent;
    background-color: transparent;
}
