.menu-top {
    background: #EFEFEF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    height: 50px;
}
.btn-menu {
    margin: 0;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: -13px;
    left: 0;
    background: transparent;
}
.btn-menu:active {
    box-shadow: none;
    outline: none;
}
.logo {
    max-width: 50px;
    min-width: 50px;
    position: relative;
    top: -14px;
    left: 10px;
}
h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 1.3;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 70px);
    text-overflow: ellipsis;
    margin-left: 10px;
}


.menu-offcanvas {
    background: #efefef;
    position: fixed;
    left: 0;
    width: 350px;
    bottom: 0;
    top: 49px;
    z-index: 11;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in;
    will-change: transition;
}
.menu-offcanvas.open {
    transform: translateX(0);
}
.menu-offcanvas li {
    border-left: 5px solid transparent;
    margin: 0;
}
.menu-offcanvas li:hover {
    background: #e1e1e1;
}
.menu-offcanvas li a {
    color: #000;
    padding: 20px 20px;
}
.menu-offcanvas li:hover, .menu-offcanvas li.active {
    border-left-color: rgba(0,120,215,1);
}
.menu-offcanvas li:hover a, .menu-offcanvas li.active a {
    color: rgba(0,120,215,1);
    background-color: transparent;
}
.menu-offcanvas li a .glyph {
    margin-right: 10px;
    font-size: 1.5em;
    position: relative;
    top: -2px;
}
.menu-offcanvas .search-bar .form-group{
    margin: 0;
    padding: 10px 15px;
}
.menu-offcanvas .search-bar .input-group {
    position: relative;
    width: 100%;
}
.menu-offcanvas .search-bar .input-group-addon {
    border: 0;
    background: none;
    position: absolute;
    right: 36px;
    top: 7px;
    color: #000000;
    z-index: 3;
}
.menu-offcanvas .search-bar:hover {
    border-left-color: transparent;
    background-color: transparent;
}