h4 {
    border-bottom: 1px solid rgba(0,120,215,1);
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: -9px;
  }
  h4[sticky] {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }
  .list-group-special {
    padding: 10px 15px;
  }
  .list-group-special .form-group {
    max-width: 360px;
  }
  .btn-inline {
    min-width: 40px;
  }
  @media screen and (min-width: 768px) {
    .progress-bar {
      margin-top: 36px;
    }
    h4[sticky] {
      top: 100px;
    }
  }
  @media screen and (min-width: 1100px) {
    .col-lg-fixed {
      position: fixed;
    }
  }
  
  h3 {
    padding-top: 10px;
  }
  
  .nav-stacked .glyph, h4 .glyph {
    display: none; 
  }
  .nav-stacked li:hover .glyph, h4:hover .glyph {
    display: inline-block;
    
  }
  h4 .glyph:hover {
    color: #0078d7;
  }