<div class="animated-page">
  <div class="container container-longlist" imageLazyLoadArea>
    <div *vsFor="items; size:getSize; let _items = vsCollection; scrollParent:'body'; excess: 2">
      <div class="row" *ngFor="let year of _items">
        <div class="col">
          <h4>
            <a (click)="toggleJumpList()">{{year.year}}</a>
            &nbsp;
            <span class="small muted color-type-secondary">({{year.albums && year.albums.length}})</span>
          </h4>
          <ul>
            <li *ngFor="let album of year.albums" (click)="navigateToAlbum(album)">
              <div class="image-wrapper">
                <mdb-album [album]="album"></mdb-album>
              </div>
              <div class="text-wrapper">
                <span class="text">{{album.name}}</span>
                <span class="small muted color-type-secondary">{{album.artist.albumArtist || album.artist.name}}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="jump-list jump-list-years" [ngClass]="{'visible': showJumpList}">
    <ol>
      <li *ngFor="let year of years">
        <a (click)="jumpToLetter(year)">{{year}}</a>
      </li>
    </ol>
  </div>
</div>