<div class="container-fluid fixed">
    <topmenu></topmenu>
</div>
<div class="container-fluid fixed">
    <letters></letters>
</div>
<!-- left hand menu; angular2 hamburger menu / sidemenu construction available? -->

<div class="main-content">
    <!-- main content -->
    <router-outlet></router-outlet>
</div>

<!-- the player -->
<mdb-player (mdbprev)="onExternalPrev($event)" (mdbnext)="onExternalNext()" (mdbtoggle)="onExternalToggle()"></mdb-player>

<div class="loading loading-fixed" *ngIf="isLoading">
    <div class="preloader">
        <div>
            <img src="global/images/logo.png" width="300" alt="Logo">
            <div class="text"> Loading data </div>
        </div>
        <div class="progress-bar">
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
        </div>
    </div>
</div>