<div *ngIf="album" class="animated-page">
  <div class="jumbotron theme-light" [ngClass]="{'shrunk': isShrunk}">
    <div class="container">
      <div class="row albumdetail">
        <div class="col-4 col-md-3 col-lg-2">
          <mdb-album-art [album]="album"></mdb-album-art>
        </div>
        <div class="col-8 col-md-9 col-lg-10">
          <h2>{{album.name}}</h2>
          <h3 class="d-none d-sm-block">{{album.artist.albumArtist || album.artist.name}}</h3>
          <h4>
            <span *ngIf="album.year && album.year !== 0">{{album.year}} &bull; </span>
            songs: {{album.tracks.length}}
            <span class="d-none d-sm-inline"> &bull; {{totalRunningTime() | timeFormat}} &bull; {{album.type}}</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <ol class="list-group list-tracks" *ngFor="let disc of album.sortedDiscs">
          <li class="list-items-row disc-row header-seperator" *ngIf="album.sortedDiscs.length > 1" [ngClass]="{'first-disc': disc[0].disc == 1}">Disc
            {{disc[0].disc}}</li>
          <li class="list-group-item" *ngFor="let track of disc" [ngClass]="{'active': track.isPlaying || track.isPaused, 'showActions': track.showActions, 'hq': track.type === 'flac'}">
            <div class="details row" (click)="onSelect(track, $event)">
              <div class="col-1">
                <span *ngIf="!track.isPlaying && !track.isPaused && track.number !== 0">{{track.number}}</span>
                <span *ngIf="!track.isPlaying && track.isPaused">
                  <span class="glyph glyph-pause"></span>
                </span>
                <span *ngIf="track.isPlaying && !track.isPaused">
                  <span class="glyph glyph-play"></span>
                </span>
              </div>
              <div class="col-9 col-sm-10">
                {{track.title}}
                <br />
                <span class="small muted color-type-secondary">
                  {{track.trackArtist}}
                </span>
              </div>
              <div class="col-2 col-sm-1 text-right">
                {{track.duration | timeFormat }}
                <span *ngIf="album.type === 'mixed' && !track.isPlaying">
                  <br />
                  <span class="small muted color-type-secondary">{{track.type}}</span>
                </span>
                <span *ngIf="track.isPlaying">
                  <br />
                  <span class="small muted color-type-secondary">
                    {{track.position | timeFormat}} &nbsp;
                  </span>
                </span>
              </div>
            </div>
          </li>
        </ol>
        <div *ngIf="album.type === 'flac' && !isFlacSupported">
          <br />
          <div class="alert alert-warning">
            <strong>Warning!</strong> This album cannot be played since FLAC support is lacking.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>