<div *ngIf="isReloading" id="reloading">
  <div class="container">
    <div class="row">
      <div class="col">
        Collection is being reloaded, please wait.
        <div *ngIf="scanperc">
          progress: {{scanperc}}%
        </div>

        <div class="progress-bar">
          <div class="progress-circle"></div>
          <div class="progress-circle"></div>
          <div class="progress-circle"></div>
          <div class="progress-circle"></div>
          <div class="progress-circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-top" (click)="hideVolumeWindow" [ngClass]="{'isPlaying': isPlaying}">
  <mdb-topmenu></mdb-topmenu>
</div>

<div class="fixed-top" (click)="hideVolumeWindow">
  <mdb-letters></mdb-letters>
</div>

<div class="main-content" (click)="hideVolumeWindow">
  <router-outlet></router-outlet>
</div>

<audio style="display: none;"></audio>
<canvas></canvas>
<mdb-player (mdbprev)="onExternalPrev($event)" (mdbnext)="onExternalNext($event)" (mdbtoggle)="onExternalToggle($event)"
  (mdbstop)="onExternalStop($event)" (click)="hideVolumeWindow()"></mdb-player>