<div class="container">
  <div class="row">
    <div class="col-xs-24"><span class="color-type-secondary">Artists</span> <span>{{totals.artists}}</span></div>
    <div class="col-xs-24"><span class="color-type-secondary">Albums</span> <span>{{totals.albums}}</span></div>
    <div class="col-xs-24"><span class="color-type-secondary">Tracks</span> <span>{{totals.tracks}}</span></div>
    <div class="col-xs-24"><span class="color-type-secondary">Playing time</span> <span>{{totals.playingTime | timeFormat }}</span></div>
  </div>
</div>