<div class="container">
  <div class="row">
    <div class="col-xs-24">
      <h4>User Information</h4>
      <div class="col-xs-24"><span class="color-type-secondary">Connected to last.fm:</span> <span>{{lastfmusername && lastfmusername.length > 0}} <span class="color-type-secondary">({{lastfmusername}})</span></span>
        <a (click)="removeLastfm()" *ngIf="lastfmusername && lastfmusername.length > 0"><i class="glyph glyph-delete"></i> disconnect</a>
      </div>
      <div class="col-xs-24"><span class="color-type-secondary">Connected to:</span> <span>{{connectiontype}} <span class="color-type-secondary">({{connectiondetails}})</span></span>
        <a (click)="removeConnection()" *ngIf="connectiondetails"><i class="glyph glyph-delete"></i> disconnect</a>
      </div>
      <div class="col-xs-24">
          <span class="color-type-secondary">Reload collection</span> <button (click)="reloadCollection()" [disabled]="isReloading" class="btn btn-text"> <i class="glyph glyph-sync"></i> now</button>
      </div>
      <div class="col-xs-24">
        <span class="color-type-secondary">Save playliststate:</span>
        <div class="btn-group">
          <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': savePlaylistState}" (click)="toggleSavePlaylistState()">
            <span class="stateLabel stateLabel-on">On</span>
            <span class="stateLabel stateLabel-off">Off</span>
        </button>
        </div>
      </div>
      <div class="col-xs-24">
        <span class="color-type-secondary">Manual scrobbling:</span>
        <div class="btn-group">
          <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': manualScrobbling}" (click)="toggleManualScrobbling()">
            <span class="stateLabel stateLabel-on">On</span>
            <span class="stateLabel stateLabel-off">Off</span>
        </button>
        </div>
        <span class="color-type-secondary" *ngIf="manualScrobblingList && manualScrobblingList.length > 0">({{manualScrobblingList.length}} item(s) in list)</span> <a (click)="scrobbleNow()" *ngIf="manualScrobblingList && manualScrobblingList.length > 0">Scrobble them now</a>
      </div>
      <div class="col-xs-24" *ngIf="manualScrobblingList && manualScrobbling">
        <ol class="list-items">
            <li class="list-items-row" *ngFor="let item of manualScrobblingList">
                <div class="row">
                    <div class="col-lg-6">
                        {{item.artist}}
                    </div>
                    <div class="col-lg-6 color-type-secondary">
                        {{item.album}}
                    </div>
                    <div class="col-lg-8">
                        {{item.track}}
                    </div>
                    <div class="col-lg-3 color-type-secondary">
                        {{item.timestamp*1000 | date:'dd MMM yyyy'}} {{item.timestamp*1000 | date:'HH:mm'}}
                    </div>
                    <div class="col-lg-1 text-right">
                        <a (click)="removeFromScrobbleList(item)" class="glyph glyph-delete"></a>
                    </div>
                </div>
            </li>
        </ol>
        <button class="btn btn-primary" (click)="scrobbleNow()" *ngIf="manualScrobblingList.length > 0">Scrobble now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-24">
      <h4>Collection Information</h4>
      <div class="col-xs-24"><span class="color-type-secondary">Artists:</span> <span>{{totals.artists}}</span></div>
      <div class="col-xs-24"><span class="color-type-secondary">Albums:</span> <span>{{totals.albums}}</span></div>
      <div class="col-xs-24"><span class="color-type-secondary">Tracks:</span> <span>{{totals.tracks}}</span></div>
      <div class="col-xs-24" *ngIf="totals.playingTime"><span class="color-type-secondary">Playing time:</span> <span>{{totals.playingTime | timeFormat }}</span></div>
    </div>
  </div>
</div>