<div class="container animated-page">
  <div class="row">
    <div class="col-xs-24">
      <h4>Login</h4>
      <form role="form" class="form-horizontal" (ngSubmit)="onSubmit()" [ngClass]="{'theme-alt': theme === 'dark'}" #loginForm="ngForm">
        <div class="form-group">
          <label for="name" class="col-sm-8 col-lg-4 control-label">Username*</label>
          <div class="col-sm-16 col-lg-20">
            <input type="text" class="form-control" id="name" placeholder="e.g. JohnDoe" required [(ngModel)]="user.name" #name="ngModel" name="name">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-8 col-lg-4 control-label">Password*</label>
          <div class="col-sm-16 col-lg-20">
            <input type="password" class="form-control" id="password" placeholder="password" required [(ngModel)]="user.password" #password="ngModel" name="password">
          </div>
        </div>
        <div class="form-group">
          <label for="dsmport" class="col-sm-8 col-lg-4 control-label">Mp3-streamer url</label>
          <div class="col-sm-16 col-lg-20">
            <input type="string" id="dsmport" class="form-control" placeholder="https://www.example.com:2000" required  [(ngModel)]="user.dsmport" #dsmport="ngModel" name="dsmport"
                tooltip="Enter the full mp3-streamer url" tooltipTrigger="mouseenter" tooltipPlacement="top">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-8 col-lg-offset-4 col-sm-16 col-lg-20">
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="loading loading-fixed" *ngIf="isLoading">
    <div class="preloader">
        <div>
            <img src="global/images/logo.png" width="300" alt="Logo">
            <div class="text"> Loading data </div>
        </div>
        <div class="progress-bar">
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
        </div>
    </div>
</div>