#nowPlaying {
    z-index: 15;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow: hidden;
}

#nowPlaying .top,
#nowPlaying .bottom {
    transition: 0.3s ease-out;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#nowPlaying .top {
    z-index: 1;
    will-change: transform;
}

#nowPlaying .bottom {
    height: calc(100% - 200px);
    overflow: auto;
    margin-top: 200px;
}

#nowPlaying .image-wrapper,
#nowPlaying .youtube-wrapper {
    position: relative;
    height: calc(100% - 160px);
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    transition: -webkit-transform 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
    will-change: transform, opacity;
    canvas {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #nowPlaying.small-art .image-wrapper>div {
        width: 150px;
        height: 150px;
        top: 0;
        right: 0;
        background-position: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    #nowPlaying .image-wrapper,
    #nowPlaying .youtube-wrapper {
        height: calc(100% - 175px);
        canvas {
            display: inline-block;
            position: absolute;
            left: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 30px);
            bottom: 20px;
        }
    }
}

@media screen and (min-width: 1200px) {
    #nowPlaying .image-wrapper,
    #nowPlaying .youtube-wrapper {
        height: calc(100% - 115px);
    }
}

#nowPlaying .image-wrapper div.current-album-art {
    z-index: 0;
    opacity: 0.985;
}

#nowPlaying .image-wrapper div.previous-album-art {
    z-index: 1;
}

#nowPlaying .image-wrapper div {
    height: calc(100% - 30px);
    width: calc(100% - 20px);
    display: block;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
}

#nowPlaying .youtube-wrapper /deep/ iframe {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-top: 10px;
}

#nowPlaying .controls-wrapper {
    position: relative;
}

#nowPlaying .controls-wrapper h4,
#nowPlaying .controls-wrapper h5 {
    padding-top: 0;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#nowPlaying .controls-wrapper h4 {
    padding-top: 10px;
}

#nowPlaying .icons {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    #nowPlaying .icons {
        top: -55px;
        position: relative;
        pointer-events: none;
        button,
        input {
            pointer-events: all;
        }
    }
}

#nowPlaying .icons button {
    display: inline-block;
    min-width: 65px;
    outline: none;
    font-size: 32px;
    margin-top: 0;
    transition: all 0.1s linear;
    border-radius: 50%;
    height: 65px;
}

#nowPlaying .icons button .glyph {
    display: block;
    position: relative;
    margin: -1px 0 0 6px;
}

#nowPlaying .icons button.active {
    background: rgba(0, 120, 215, 1);
    color: #ffffff;
}

#nowPlaying .icons button:active {
    background: #e1e1e1;
    color: rgba(0, 120, 215, 1);
}

#nowPlaying .icons .btn-updown {
    margin-top: -7px;
    min-width: 45px;
    height: 45px;
}

#nowPlaying .icons .btn-love {
    position: absolute;
    right: 10px;
}

#nowPlaying .icons .btn-volume {
    position: absolute;
    right: 90px;
}

#nowPlaying .icons .btn-shuffle {
    position: absolute;
    right: 170px;
}

#nowPlaying .icons .btn-youtube {
    position: absolute;
    right: 250px;
}

#nowPlaying .progress {
    width: calc(100% - 150px);
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

#nowPlaying .time {
    position: absolute;
    top: -10px;
    left: 20px;
}

#nowPlaying .time.stop {
    left: auto;
    right: 20px;
}

footer.hidePlayer {
    height: 0;
}

#nowPlaying.slided .top {
    transform: translateY(calc(-100% + 185px));
}

@media screen and (min-width: 1200px) {
    #nowPlaying.slided .top {
        transform: translateY(calc(-100% + 125px));
    }
}

#nowPlaying.slided .top .image-wrapper {
    opacity: 0;
}

#nowPlaying #upordown {
    transition: 0.3s ease-out 0.15s;
    margin-left: 5px;
    font-size: 14px;
}

#nowPlaying.slided #upordown {
    transform: rotate(180deg);
}

#nowPlaying .volume-control {
    position: absolute;
    z-index: 1000;
    width: 270px;
    right: 20px;
    bottom: 90px;
    padding: 10px;
}

#progress-pusher {
    position: relative;
    width: calc(100% - 150px);
    height: 60px;
    left: 70px;
    top: -30px;
    margin-bottom: -60px;
}

#position-indicator {
    width: 18px;
    height: 18px;
    border-color: rgba(0, 120, 215, 1);
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    position: relative;
    z-index: 10;
    top: -7px;
    left: -8px;
    cursor: pointer;
    display: block;
    transform-origin: center;
    transition: all 0.1s linear;
    pointer-events: none;
    will-change: margin;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#position-indicator.dragging {
    transform: scale(2);
    border-width: 2px;
    transition: none !important;
}

.buffered-bar {
    position: absolute;
    opacity: 0.25;
}