#nowPlaying {
    background: #ffffff;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow: hidden;
}
@media screen and (min-width: 480px) {
    #nowPlaying {
        top: 100px;
    }
}
#nowPlaying .top, #nowPlaying .bottom {
    transition: 0.3s ease-out;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
}
#nowPlaying .top {
    z-index: 1;
    will-change: transform;
}
#nowPlaying .bottom {
    height: calc(100% - 200px);
    overflow: auto;
    margin-top: 200px;
}

#nowPlaying .image-wrapper {
    position: relative;
    height: calc(100% - 145px);
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    transition: -webkit-transform 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
    will-change: transform, opacity;
}
@media screen and (min-width: 480px) {
    #nowPlaying .image-wrapper {
        height: calc(100% - 165px);
    }
}
#nowPlaying .image-wrapper div.currentAlbumArt {
    z-index: 0;
}

#nowPlaying .image-wrapper div.previousAlbumArt {
    z-index: 1;
    -webkit-transform: translateY(0%);
    transform: translate3d(0%, 0, 0);
    opacity: 1;
}

#nowPlaying .image-wrapper div.animate {
    z-index: 2;
    transition: 0.7s ease-out;
    -webkit-transform: translateY(-150%);
    transform: translate3d(-150%, 0, 0);
    opacity: 1;
}

#nowPlaying .image-wrapper div.animateBack {
    z-index: 2;
    transition: 0.7s ease-in;
    -webkit-transform: translateY(150%);
    transform: translate3d(150%, 0, 0);
    opacity: 1;
}

#nowPlaying .image-wrapper div {
    height: calc(100% - 30px);
    width: calc(100% - 20px);
    display: block;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
}
#nowPlaying .controls-wrapper {
  position: relative;
}
#nowPlaying .controls-wrapper h4, #nowPlaying .controls-wrapper h5 {
  padding-top: 0;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#nowPlaying .controls-wrapper h4 {
  padding-top: 10px;
}
#nowPlaying .icons {
    text-align: center;
}
#nowPlaying .icons button {
    display: inline-block;
    min-width: 65px;
    outline: none;
    font-size: 32px;
    margin-top: 0;
    transition: all 0.1s linear;
    border-radius: 50%;
    height: 65px;
}
#nowPlaying .icons button .glyph {
    display: block;
    position: relative;
    margin: -1px 0 0 6px;
}
#nowPlaying .icons button.active {
    background: rgba(0,120,215,1);
    color: #ffffff;
}
#nowPlaying .icons button:hover  {
    background: #e1e1e1;
}
#nowPlaying .icons .btn-updown {
    margin-top: -7px;
    min-width: 45px;
    height: 45px;
}
#nowPlaying .icons .btn-love {
    position: absolute;
    right: 10px;
}

#nowPlaying .icons .btn-shuffle {
    position: absolute;
    right: 90px;
}

#nowPlaying .progress {
    width: calc(100% - 130px);
    margin: 0 auto;
    overflow: visible;
}

#nowPlaying .time {
    position: absolute;
    top: -10px;
    left: 20px;
}

    #nowPlaying .time.stop {
        left: auto;
        right: 20px;
    }

footer.hidePlayer {
    height: 0;
}

#nowPlaying.slided .top {
    transform: translateY(calc(-100% + 185px));
}
#nowPlaying.slided .top .image-wrapper {
    opacity: 0;
}
#nowPlaying #upordown {
    transition: 0.3s ease-out 0.15s;
    margin-left: 5px;
    font-size: 14px;
}
#nowPlaying.slided #upordown {
    transform: rotate(180deg);
}