<div class="animated-page">
  <div class="container">
    <div class="row">
      <div class="col" *ngIf="manualScrobblingList && manualScrobbling">
        <h4>Tracks in scrobble cache
          <span class="small color-type-secondary">({{manualScrobblingList.length}})</span>
          <a class="float-right d-none d-sm-inline" (click)="scrobbleNow()">Scrobble now</a>
        </h4>
        <ol class="list-items list-tracks">
          <li class="list-items-row list-tracks-no-hover" *ngFor="let item of manualScrobblingList">
            <div class="row">
              <div class="col-4 col-sm-3">
                {{item.artist}}
              </div>
              <div class="col-4 col-sm-3 small d-none d-sm-block">
                {{item.album}}
              </div>
              <div class="col-8 col-sm-3">
                {{item.track}}
              </div>
              <div class="col-6 col-sm-2 small">
                {{item.timestamp*1000 | date:'mediumDate' }} {{item.timestamp*1000 | date:'shortTime' }}
              </div>
              <div class="col-6 col-sm-1 text-right">
                <a (click)="removeFromScrobbleList(item)" class="glyph glyph-delete"></a>
              </div>
            </div>
          </li>
        </ol>
        <button class="btn btn-primary" (click)="scrobbleNow()" *ngIf="manualScrobblingList.length > 0 && !isBusy">Scrobble now</button>
      </div>
    </div>
  </div>
</div>