h4 {
    padding-left: 10px;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
h4:before,
h4:after {
    content: '';
    display: table;

}
.btn-group {
    margin: -6px 30px 0 10px;
    position: relative;
}
.btn {
    position: relative;
    margin: 0 0 0 10px;
}
.col-xs-24 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.list-items {
    margin-top: -10px;
}
.list-items .list-items-row {
    border-top: 0;
}
.glyph-delete {
    margin-top: 5px;
}
.pull-right {
    z-index: 1;
}