<div class="animated-page settings-page">
  <div class="container">
    <div class="setting-page-block">
      <div class="settings-page-p">
        <h4>User Information</h4>
        <div class="settings-page-p" *ngIf="lastfmusername && lastfmusername.length > 0 && lastfmusername !== 'mdb-skipped'">
          <span class="">Connected to last.fm: </span>
          <span>{{lastfmusername && lastfmusername.length > 0}}
            <span class="small">({{lastfmusername}})</span>
          </span>
          <a (click)="removeLastfm()">
            &nbsp;
            <i class="glyph glyph-delete"></i> remove token</a>
        </div>
        <div class="settings-page-p" *ngIf="lastfmusername && lastfmusername === 'mdb-skipped'">
          <span class="">Local last played tracking: </span>
          <span>true</span>
          <a (click)="removeLastfm()">
            &nbsp;
            <i class="glyph glyph-delete"></i> remove token</a>
        </div>
        <div class="settings-page-p">
          <span class="">Connected to: </span>
          <span>{{connectiontype}}
            <span class="small">({{connectiondetails}})</span>
          </span>
          <a (click)="removeConnection()" *ngIf="connectiondetails">
            &nbsp;
            <i class="glyph glyph-delete"></i> remove token</a>
          <a routerLink="/login" *ngIf="!connectiondetails">
            &nbsp;
            <i class="glyph glyph-admin"></i> login</a>
        </div>
        <div class="settings-page-p">
          <span class="">Reload collection: </span>&nbsp;
          <button (click)="reloadCollection()" [disabled]="isReloading" *ngIf="!isReloading" class="btn btn-primary">
            <i class="glyph glyph-sync"></i> now</button>
          <span *ngIf="!scanperc && isReloading">
            <div class="progress-bar" style="margin-left: 100px;">
              <div class="progress-circle"></div>
              <div class="progress-circle"></div>
              <div class="progress-circle"></div>
              <div class="progress-circle"></div>
              <div class="progress-circle"></div>
            </div>
          </span>
          <span *ngIf="scanperc && isReloading"> {{scanperc}}% done</span>
        </div>
      </div>
    </div>
    <div class="setting-page-block">
      <div class="settings-page-p">
        <h4>Player settings</h4>
        <div class="settings-page-p">
          <span class="">Save playliststate: </span>
          <div class="btn-group">
            <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': savePlaylistState, 'theme-alt': mode === 'dark'}"
              (click)="toggleSavePlaylistState()">
              <span class="state-label state-label-on">On</span>
              <span class="state-label state-label-off">Off</span>
            </button>
          </div>
        </div>
        <div class="settings-page-p" *ngIf="lastfmusername && lastfmusername.length > 0 && lastfmusername !== 'mdb-skipped'">
          <span class="">Manual scrobbling: </span>
          <div class="btn-group">
            <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': manualScrobbling, 'theme-alt': mode === 'dark'}"
              (click)="toggleManualScrobbling()">
              <span class="state-label state-label-on">On</span>
              <span class="state-label state-label-off">Off</span>
            </button>
          </div>
          <span class="small" *ngIf="manualScrobblingList && manualScrobblingList.length > 0">({{manualScrobblingList.length}} item
            <span *ngIf="manualScrobblingList.length > 1">s</span> in list)
            <br>
            <a (click)="scrobbleNow()">Scrobble now</a>
            <br />
            <a (click)="viewList()">View tracks in scrobble cache</a>
          </span>
        </div>
        <div class="settings-page-p">
          <span class="">Continues play: </span>
          <div class="btn-group">
            <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': isContinuesplay, 'theme-alt': mode === 'dark'}"
              (click)="toggleContinuesPlay()">
              <span class="state-label state-label-on">On</span>
              <span class="state-label state-label-off">Off</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="setting-page-block">
      <div class="settings-page-p">
        <h4>Interface settings</h4>
        <div class="settings-page-p">
          <form [ngClass]="{'theme-alt': mode === 'dark'}" #themeForm="ngForm">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name='theme' value="light" [(ngModel)]="settings.theme" #name="ngModel" name="theme">
                  <span>Light</span>
                  <span class="small"> theme</span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name='theme' value="dark" [(ngModel)]="settings.theme" #name="ngModel" name="theme">
                  <span>Dark</span>
                  <span class="small"> theme</span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name='theme' value="auto" [(ngModel)]="settings.theme" #name="ngModel" name="theme">
                  <span>Auto</span>
                  <span class="small"> theme</span>
                  <span class="small"> (Dark mode between {{startDate | date: 'mediumTime'}} and {{stopDate | date: 'mediumTime'}})</span>
                </label>
              </div>
            </div>
            <div class="form-group" *ngIf="isVisualCapable">
              <span class="">Show visualisation on now playing screen: </span>
              <div class="btn-group">
                &nbsp;
                <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': visualisation, 'theme-alt': mode === 'dark'}"
                  (click)="toggleVisualisation()">
                  <span class="state-label state-label-on">Yes</span>
                  <span class="state-label state-label-off">No</span>
                </button>
              </div>
            </div>
            <div class="form-group" *ngIf="visualisation && isVisualCapable">
              <span class="">Show smaller album-art on now playing screen: </span>
              <div class="btn-group">
                &nbsp;
                <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': smallArt, 'theme-alt': mode === 'dark'}"
                  (click)="toggleSmallArt()">
                  <span class="state-label state-label-on">Yes</span>
                  <span class="state-label state-label-off">No</span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <span class="">Prefer video if available: </span>
              <div class="btn-group">
                &nbsp;
                <button type="button" data-toggle="button" class="btn btn-toggle-switch" autocomplete="off" aria-pressed="false" [ngClass]="{'active': preferVideo, 'theme-alt': mode === 'dark'}"
                  (click)="togglePreferVideo()">
                  <span class="state-label state-label-on">On</span>
                  <span class="state-label state-label-off">Off</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="setting-page-block">
      <div class="settings-page-p">
        <h4>Information</h4>
        <div class="settings-page-p">
          <span class="">Artists: </span>
          <span>{{totals.artists}}</span>
        </div>
        <div class="settings-page-p">
          <span class="">Albums: </span>
          <span>{{totals.albums}}</span>
        </div>
        <div class="settings-page-p">
          <span class="">Tracks: </span>
          <span>{{totals.tracks}}</span>
        </div>
        <div class="settings-page-p" *ngIf="totals.playingTime">
          <span class="">Playing time: </span>
          <span>{{totals.playingTime | timeFormat }}</span>
        </div>
        <div class="settings-page-p">
          <span class="">Last parsed: </span>
          <span>{{lastParsed | date: 'medium'}}</span>
        </div>
        <div class="settings-page-p">
          <span class="">Build version: </span>
          <span>{{version }}</span>
        </div>
      </div>
    </div>
  </div>
</div>