h4 {
    padding-left: 10px;
    padding-top: 6px;
    margin-bottom: 10px;
}
h4[sticky] {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 3;
  }
  @media screen and (min-width: 768px) {
    h4[sticky] {
      top: 100px;
    }
  }
.btn-group {
    margin: -6px 30px 0 10px;
    position: relative;
}
.btn {
    position: relative;
    margin: 0 0 0 10px;
}
.col-xs-24 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.form-group {
    margin-left: 15px;
}