body {
    padding-top: 55px;
    padding-bottom: 80px;
    user-select: none;
    background: $background-color;
    color: $primary-color;

    transition: color 0.15s ease-in, background-color 0.15s ease-in;

    @include musicdb-respond-min-width(sm) {
        padding-top: 110px;
    }
}
@include musicdb-respond-max-width(xs) {
    .container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
.preloader {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    background: $background-color;

    .progress-bar {
        height: 0;
        width: 180px;
        margin: 0 auto;
        float: none;
    }
}
.progress-bar {
    height: 0;
}
.progress {
    background-color: $disabled-color;
    .progress-bar {
        width: 0;
        height: 4px;
        transition: width 0.1s linear;
    }
}
.loading-fixed {
    left: calc(50% - 160px);
    position: fixed;
    top: 50px;
    z-index: 1000;

    @include musicdb-respond-min-width(sm) {
        top: 100px;
    }
}
a {
    cursor: pointer;
    &:hover {
        color: darken($accent-color, 20%);
        text-decoration: none;
    }
}

.media-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    display: flex;
    padding: 0;
}

.no-flex {
    justify-content: flex-start;
    align-items: flex-start;
}

.media-panel {
    width: 48vw;
    height: 48vw;
    margin: 0 2vw 2vw 0;
    cursor: pointer;
    background-image: url('../../global/images/no-cover.png');

    &:nth-child(2n) {
        margin-right: 0;
    }

    @include musicdb-respond-min-width(xs) {
        width: 32vw;
        height: 32vw;
        margin: 0 1vw 1vw 0;

        &:nth-child(2n){
            margin-right: 1vw;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    @include musicdb-respond-min-width(sm) {
        width: 19vw;
        height: 19vw;

        &:nth-child(3n) {
            margin-right: 1vw;
        }
        &:nth-child(5n) {
            margin-right: 0;
        }
    }
    @include musicdb-respond-min-width(md) {
        width: 11vw;
        height: 11vw;

        &:nth-child(5n) {
            margin-right: 1vw;
        }
    }
}

.panel-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    background-size: cover;
    background-position: center center;

    &:hover, &:active {
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    }
}

.panel-info {
    position: absolute;
    padding: 5px 10px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 75%);

    margin: 0;
    line-height: 1.35;
    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
    overflow: hidden;
    font-size: 1em;

    @include musicdb-respond-min-width(sm) {
        padding: 10px 15px;
        font-size: 16px;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    }

    span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.jumpList {
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 1000;
    background: $background-color;
    right: 0;
    bottom: 0;
    padding: 0;
    transform: scale(0);
    transition: transform 0.25s ease-in-out;

    @include musicdb-respond-min-width(sm) {
        top: 100px;
    }

    ol {
        list-style: none;
        padding: 5vh 5vw;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: stretch;
        display: flex;
    }

    li {
        font-size: 2em;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        width: 21vw;

        @include musicdb-respond-min-width(sm) {
            font-size: 3em;
            width: 17vw;
        }
    }

    a:hover {
        text-decoration: none;
        color: #dddddd;
    }

    &.visible {
        display: block;
        transform: scale(1);
    }
}

.btn.focus, .btn:focus, .btn:hover {
    color: $primary-color;
    outline: none;
}
input.form-control:focus, textarea.form-control:focus {
    color: $primary-color;
    background: $background-color;
}
.alert.alert-info {
    background-color: $disabled-color;
    color: $primary-color;
}
.menu-top {
    background: $tertiary-color;
    form input {
        color: $primary-color;
        background: $background-color;
        border: 1px solid $primary-color;
    }
}
.side-nav__container, .side-nav-xl {
    background-color: $tertiary-color;

    .side-nav__content li a {
        color:$primary-color;
        outline: none;
    }
    .side-nav__content li:hover, .side-nav__content li.active {
        background-color: $hover-color;
    }
    .side-nav__content .search-bar input {
        color: $primary-color;
        background: $background-color;
        border: 1px solid $primary-color;

    }
    .side-nav__content .search-bar .input-group-addon {
        color: $primary-color;
    }
}
.list-group-item:nth-child(2n+1) {
  background-color: $tertiary-color;
}

.player {
    background-color: $tertiary-color;
}
.header-seperator {
    overflow: hidden;
    border-bottom: 1px solid $accent-color;
    border-top: none;
    background: $background-color;
    color: $primary-color;
    z-index: 2;
    padding-top: 6px;
}
.color-type-secondary, h4 .small {
    color: $secondary-color;
}
.jumbotron.theme-light {
    margin-top: -5px;
    background-color: $accent-color;
    color:#ffffff;
    z-index: 12;
    position: relative;

    @include musicdb-respond-min-width(sm) {
        background-color: $tertiary-color;
        color: $primary-color;
        padding: 24px 0;
    }
    h3 {
        padding-top: 0;
    }

    a {
        color: white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        @include musicdb-respond-min-width(sm) {
            color: $accent-color;
            text-decoration: none;
        }
    }
}

#nowPlaying {
    background: $background-color;
    .top, .bottom {
        background: $background-color;
    }
    #position-indicator {
        background: $background-color;
    }
}

.main-content {
    @include musicdb-respond-min-width(lg) {
        margin-left: 78px;
        width: calc(100% - 78px);
    }
}

.tooltip .tooltip-inner {
    border-color: $secondary-color;
    background-color: $tertiary-color;
    color: $primary-color;
}