@keyframes enterPage { 
  from { 
    transform: translateY(28px); 
    opacity: 0.25; 
  } to { 
    transform: none; 
    opacity: 1;
  } 
}

@keyframes slideLeftOutElement { 
  from { 
    transform: none; 
    opacity: 1; 
  } to { 
    transform: translateX(-150%); 
    opacity: 0;
  } 
}

@keyframes slideRightOutElement { 
  from { 
    transform: none; 
    opacity: 1; 
  } to { 
    transform: translateX(150%); 
    opacity: 0;
  } 
}

.enter {
  animation: enterPage 0.15s ease-in;
}

.slideLeftOut {
  animation: slideLeftOutElement 0.5s ease-out;
  animation-fill-mode: forwards;
}

.slideRightOut {
  animation: slideRightOutElement 0.5s ease-out;
  animation-fill-mode: forwards;
}