@charset "utf-8";

@import "variables";

$background-color: black;
$primary-color: white;

$secondary-color: rgba($primary-color, 0.6);
$disabled-color: rgba($primary-color, 0.2);

::-webkit-input-placeholder {
   color: $primary-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $primary-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $primary-color;
}

:-ms-input-placeholder {
   color: $primary-color;
}

@import "mixins";
@import "webkit";

@import "styles";