@charset "utf-8";

@import "variables";

$background-color: black;
$primary-color: white;

$secondary-color: rgba($primary-color, 0.6);
$disabled-color: rgba($primary-color, 0.2);

@import "mixins";
@import "webkit";

@import "styles";