.media-panel {
  margin-bottom: 2px;
  margin-top: 2px;
}
.blurred-background {
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0.15;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.blurred-background-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(255, 255, 255, 1.0) 100%) repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}