.container-longlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container-longlist li {
  margin: 0 0 10px;
  padding: 10px;
  list-style: none;
  overflow: hidden;
  height: 70px;
}
.container-longlist li:hover {
  background-color: rgba(0,120,215,1);
  color:#ffffff;
}
h4 {
  overflow: hidden;
  border-bottom: 1px solid rgba(0,120,215,1);
  border-top: none;
  padding-left: 25px;
  margin-bottom: 5px;
}
.container-longlist li:hover .color-type-secondary {
  color: rgba(255,255,255, 0.6);
}
.container-longlist >>> .panel-background {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 50px;
  height: 50px;
  box-shadow: none;
}
.container-longlist >>> .panel-info {
  display: none;
}
.container-longlist .image-wrapper {
  float: left;
}
.container-longlist .text-wrapper {
  float: left;
}
.container-longlist h4 {
  border-bottom: 1px solid rgba(0,120,215,1);
  padding-left: 10px;
  margin-bottom: 10px;
}
.container-longlist h4 a:hover {
  text-decoration: none;
  color: #cccccc;
}

>>> .vsFor-before, >>> .vsFor-after {
    float: left;
}
