.container-longlist ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-longlist li {
    margin: 0;
    padding: 13px 10px 7px;
    list-style: none;
    overflow: hidden;
    height: 90px;
}

h4 {
    padding-left: 25px;
    margin-bottom: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h4:before,
h4:after {
    content: '';
    display: table;
}

.container-longlist /deep/ .panel-background {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 60px;
    height: 60px;
    box-shadow: none;
}

.container-longlist /deep/ .panel-info {
    display: none;
}

.container-longlist .image-wrapper {
    float: left;
}

.container-longlist .text-wrapper {
    float: left;
    width: calc(100% - 70px);
    .text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.container-longlist h4 {
    padding-left: 10px;
    margin-bottom: 10px;
}

.container-longlist h4 a:hover {
    text-decoration: none;
}

/deep/ .vsFor-before,
/deep/ .vsFor-after {
    float: left;
}