<div class="container container-longlist" imageLazyLoadArea>
  <div class="row">
    <div *vsFor="items; size:getSize; let _items = vsCollection; scrollParent:'body'; excess: 5">
      <div *ngFor="let artist of _items">
        <h4 sticky style="top: 49px;" class="visible-xs visible-sm"><a (click)="toggleJumpList()">{{artist.name}} <span class="small color-type-secondary">({{artist.albums && artist.albums.length}})</span></a></h4>
        <h4 sticky style="top: 90px;" class="visible-md visible-lg"><a (click)="toggleJumpList()">{{artist.name}} <span class="small color-type-secondary">({{artist.albums && artist.albums.length}})</span></a></h4>
        <ul>
          <li *ngFor="let album of artist.albums" (click)="navigateToAlbum(album)">
            <div class="image-wrapper">
              <mdbalbum [album]="album"></mdbalbum>
            </div>
            <div class="text-wrapper">
              <span>{{album.name}}</span> <br />
              <span class="small color-type-secondary" *ngIf="album.year">Year: {{album.year}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="jumplist" [ngClass]="{'visible': showJumpList}">
  <ol>
    <li *ngFor="let letter of letters">
      <a (click)="jumpToLetter(letter)">{{letter.letter}}</a>
    </li>
  </ol>
</div>