.albumdetail /deep/ .albumart {
    width: 100%;
    height: auto;
}
.albumdetail h2 {
    padding-top: 0;
    margin-top: 5px;
    font-size: 24px;
}
@media screen and (min-width: 768px) {
    .albumdetail h2 {
        margin-top: -10px;
        font-size: 34px;
    }
}
.albumdetail h3 {
    padding-top: 5px;
}
.albumdetail h4 {
    font-size: 16px;
    padding-top: 5px;
}
@media screen and (min-width: 768px) {
    .albumdetail h4 {
        font-size: 20px;
    }
}
.list-group-item {
    overflow: hidden;
    transition: color .1s ease-out;
    cursor: pointer;
    padding: 10px 10px 10px 0;
}
.list-group-item .glyph {
    vertical-align: baseline;
    margin-top: 5px;
}
.list-group-item.active {
    z-index: 0;
    color: rgba(0,120,215,1);
}
.list-group-item:hover {
    background-color: rgba(0,120,215,1);
    color:#ffffff;
}
.list-group-item:hover .color-type-secondary {
    color: rgba(255,255,255, 0.6);
}
.disc-row {
    padding-left: 10px;
    margin-bottom: 5px;
    padding-top: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-top: 0;
}
.disc-row:before,
.disc-row:after {
    content: '';
    display: table;
}
