.navbar-local {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.26);
}
.navbar-local .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: row;
}
.navbar-local li {
    margin: 0;
    display: inline-block;
    float: none;
    flex: 3 1 0;
}
.navbar-local li a {
    padding: 15px 0;
}