.navbar-local {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 1;
}
.navbar-local .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
}
.navbar-local li {
    margin: 0;
    display: inline-block;
    float: none;
}
.navbar-local li a {
    padding: 15px 30px;
}