<div class="animated-page">
  <div class="container container-longlist" imageLazyLoadArea>
    <cdk-virtual-scroll-viewport [itemSize]="50" autosize>
      <div class="row" *cdkVirtualFor="let artist of items">
        <div class="col">
          <h4>
            <a (click)="toggleJumpList()">{{ artist.albumArtist || artist.name }}</a>
            &nbsp;
            <span class="small muted">({{ artist.albums && artist.albums.length }})</span>
          </h4>
          <ul>
            <li *ngFor="let album of artist.albums" (click)="navigateToAlbum(album)">
              <div class="image-wrapper">
                <mdb-album [album]="album"></mdb-album>
              </div>
              <div class="text-wrapper">
                <span class="text">{{ album.name }}</span>
                <span class="small muted" *ngIf="album.year">Year: {{ album.year }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="jump-list" [ngClass]="{ visible: showJumpList }">
    <ol>
      <li *ngFor="let letter of letters">
        <a (click)="jumpToLetter(letter)">{{ letter.letter }}</a>
      </li>
    </ol>
  </div>
</div>
