<div class="animated-page">
  <div class="container container-longlist" imageLazyLoadArea>
    <div class="row">
      <div *vsFor="letters; size:getSize; let _letters = vsCollection; scrollParent:'body'; excess: 2">
        <div class="col-xs-24" *ngFor="let letter of _letters">
          <h4 sticky style="top: 49px;" class="visible-xs visible-sm header-seperator">
            <a id="letter_{{letter.letter}}" (click)="toggleJumpList()">{{letter.letter}}</a>
          </h4>
          <h4 sticky style="top: 99px;" class="visible-md visible-lg header-seperator">
            <a id="letter_{{letter.letter}}" (click)="toggleJumpList()">{{letter.letter}}</a>
          </h4>
          <ul>
            <li *ngFor="let artist of letter.artists" (click)="navigateToArtist(artist)">
              <div class="image-wrapper">
                <mdb-artist [artist]="artist"></mdb-artist>
              </div>
              <div class="text-wrapper">
                <span class="text">{{artist.albumArtist || artist.name}}</span>
                <span class="small color-type-secondary">Albums: {{artist.albums.length}}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="jumpList" [ngClass]="{'visible': showJumpList}">
    <ol>
      <li *ngFor="let letter of letters">
        <a (click)="jumpToLetter(letter)">{{letter.letter}}</a>
      </li>
    </ol>
  </div>
</div>