.list-group-item {
    overflow: hidden;
    transition: color .1s ease-out;
    cursor: pointer;
    margin: 0;
}
.list-group-item.active {
    z-index: 0;
    background-color: rgba(0,120,215,1);
    color: #ffffff;
} 
.list-group-item.active .color-type-secondary {
    color: rgba(255,255,255, 0.6);
}
.disc-row {
    overflow: hidden;
    border-bottom: 1px solid rgba(0,120,215,1);
    border-top: none;
    padding-left: 25px;
}
.track-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.list-group-item .btn {
    padding: 0;
    margin: 0 10px;
    max-width: 30px;
    min-width: auto;
    display: none;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
}
.list-group-item.active .btn {
    color: #ffffff;
}

.list-group-item:hover .btn {
    display: inline-block;
}