<ol class="list-items">
  <li class="list-group-item" *ngFor="let track of playlist.tracks" (click)="select(track)" [ngClass]="{'active': track.isPlaying || track.isPaused}">
    <div class="col-xs-20 track-info">
      <span *ngIf="!track.isPlaying && track.isPaused">
        <span class="glyph glyph-pause"></span>
      </span>
      <span *ngIf="track.isPlaying && !track.isPaused">
        <span class="glyph glyph-play"></span>
      </span>{{track.title}}
      <br />
      <span class="small color-type-secondary">
        {{track.trackArtist}} &bull; {{track.album.name}}
      </span>
    </div>
    <div class="col-xs-4 text-right">
      {{track.duration | timeFormat }}
      <br/>
      <span class="small color-type-secondary">{{track.type}}</span>
    </div>
  </li>
</ol>